:root {
  --main-background-color: #f2f2f2;
  --contact-page-background: #100f0f;
  --contact-page-text-color: #e1e1e1;
  --text-color: #424242;
  --theme-color: #dd3061;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--secondary-font);
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-style: normal;
}

/*  All Font Weight 400*/

.portfolio-text,
.name-logo,
.open-collaborations,
.name,
.last-name,
.job,
.landing-page-text .text,
.text-work-page,
.heading-work-page,
.heading-contact-page,
.social-media-id,
.company,
.company-name,
.year,
.about-honors,
.sub-title,
.heading-honors-page,
.skill-name,
.question,
.answer-input {
  font-weight: 400;
}
/*  All Font Size 1rem*/
.portfolio-text,
.open-collaborations,
.landing-page-text .text,
.list-number,
.homepage-link,
.homepage-icon,
.social-media-name,
.company-name,
.year,
.about-honors,
.project-description,
.company-box-active .company,
.view-button,
.see-more-button {
  font-size: 1rem;
}

/*  All Font Size 2rem*/
.name-logo,
.icon-link,
.project-name {
  font-size: 2rem;
}
/*  All Font Height 1rem*/
.portfolio-text,
.last-name,
.name {
  line-height: 1em;
}

.name-logo,
.name,
.job,
.heading-work-page,
.heading-contact-page,
.heading-honors-page,
.project-name,
.collaborate-page-heading {
  font-family: var(--main-font);
}

.job,
.heading-work-page,
.active a:hover,
.active a:focus,
.active a,
.active,
.heading-honors-page,
.icon-link:hover,
.icon-link:focus,
.circle-button-link:focus,
.circle-button-link:hover,
.heading-contact-page,
.project-name,
.company-box-active,
.company-box:hover,
.company-box:focus,
.x-icon,
.collaborate-page-heading,
.see-more-button:hover,
.see-more-button:focus ,.open-source-code{
  color: var(--theme-color);
}
/* Landing page  CSS */
.open-source-code{
  text-decoration: none;
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5em;
}
.open-source-code:hover,.open-source-code:focus{
  color: var(--text-color);
}
.portfolio-text {
  padding-top: 1.6em;
}
.keyboard-icon {
  padding: 0 0.5em;
}

.name-logo {
  line-height: 2em;
  text-align: center;
}
.open-collaborations {
  padding-top: 1.5em;
  line-height: 1.3em;
  text-align: right;
}
.name {
  font-size: 7.5rem;
}

.last-name {
  font-size: 3.5rem;
}
.full-name {
  margin-bottom: 1em;
}
.job {
  font-size: 5.5rem;
  line-height: 5em;

  margin-bottom: 0.5em;
}
.nav-bar {
  align-items: center;
  padding: 16px 0px;
  isolation: isolate;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2em;
}
.list-item-link {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2em;
  color: var(--text-color);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.list-item-link:hover,
.list-item-link:focus {
  color: var(--text-color);
  padding-bottom: 0.4em;
  border-bottom: 3px solid var(--theme-color);
}
.list-number {
  font-weight: 300;
  line-height: 1.375em;
}
.landing-page-text .text {
  line-height: 2.25em;
}
.landing-page-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-image {
  max-width: 80%;
  border-radius: 0 1em 0 1em;
}

/* Works  page CSS */

.heading-work-page {
  font-size: 4.5rem;
  line-height: 9rem;
}
.text-work-page {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.sidebar-number {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2rem;
}
.sidebar-link {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}
.sidebar-link:hover,
.sidebar-link:focus,
.homepage-link:hover,
.homepage-link:focus {
  color: var(--text-color);
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5em;
}
.active {
  border-left: 4px solid var(--theme-color);
}

.sidebar-item.active {
  padding: 2em 0;
  padding-left: 1em;
}

.homepage-link {
  font-weight: 600;
  line-height: 1.375rem;
  text-decoration: none;
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}

/*  contact page CSS*/

body.contact-page-body {
  background-color: var(--contact-page-background);
  color: var(--contact-page-text-color);
  background-image: url("/Images/half-circle.png");
  background-repeat: no-repeat;
  background-position-y: 130%;
}
body.contact-page-body .sidebar-link {
  color: var(--contact-page-text-color);
}
body.contact-page-body .active {
  color: var(--contact-page-text-color);
}
body.contact-page-body .homepage-link {
  color: var(--contact-page-text-color);
}
.heading-contact-page {
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
}

.button-click-contact-page {
  position: relative;
}
.circle-button-link {
  position: absolute;
  top: 20%;
  left: 37%;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--contact-page-text-color);
  text-align: center;
}

.change-color {
  color: var(--contact-page-text-color);
}

.button-contact-page {
  border-radius: 80px;
  padding: 40px 0px;
  outline: none;
  margin-bottom: 1em;
  border: 1px solid #e3e3e3;
}
.left-button {
  color: var(--text-color);
  background: #e1e1e1;
}
.right-button {
  background: transparent;
  color: #e3e3e3;
}
.right-button:hover,
.right-button:focus,
.left-button:hover,
.left-button:focus {
  background-color: var(--theme-color);
  color: #e3e3e3;
}
.social-media {
  cursor: pointer;
  padding: 1em 0;
  border-top: 1px solid #e1e1e1;
}
.social-media-name {
  font-weight: 700;
  line-height: 2rem;
}
.social-media-id {
  font-size: 0.8rem;
  line-height: 1rem;
}
.icon-link {
  color: var(--contact-page-text-color);
}

.social-media-active {
  background: var(--theme-color);
  border: none;
  border-radius: 8px;
}
.social-media-active .icon-link:hover,
.social-media-active .icon-link:focus {
  color: var(--contact-page-text-color);
}
/* Expertise page */

.image-line-box {
  position: relative;
}
.line-border {
  border-left: 2px solid #a1a1a1;
  line-height: 550px;
  position: absolute;
  left: 60%;
  color: var(--main-background-color);
  /* transform: rotate(90deg); */
}
.logo {
  max-width: 90%;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}
.logo-figma {
  top: 220px;
}
.logo-api {
  top: 300px;
}
.logo-wordpress {
  top: 250px;
}
.logo-javascript {
  top: 180px;
}
.logo-html {
  top: 100px;
}
.logo-css {
  top: 190px;
}
.line-border-active {
  border-left: 2px solid var(--theme-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* honors page */

.heading-honors-page {
  font-size: 4.5rem;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 1em;
}
.sub-title {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1em;
}
.portfolio-image.honors-page {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}
.about-honors {
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 2em;
}
.company-name,
.year {
  line-height: 1.5rem;
  text-transform: capitalize;
}

.company {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 1em;
}
.company-box {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 1em;
  cursor: pointer;
}
.company-box:hover,
.company-box:focus {
  border-bottom: 1px solid var(--theme-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
}
.company-box .icon {
  font-size: 1.2rem;
  text-align: right;
  cursor: pointer;
}
.company-box-active {
  border-bottom: 1px solid var(--theme-color);
}
.company-box-active .company-name,
.year {
  font-size: 0.6rem;
}

.sidebar {
  position: fixed;
  right: 20px;
  top: 20px;
}

/* projects */
/* font-family: 'Patrick Hand', cursive; */
.project-name {
  font-weight: 600;
  line-height: 3rem;
}
.project-description {
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
.skill-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff8f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.5em;
}
.skill-name {
  font-family: "Patrick Hand", cursive;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  letter-spacing: 0.02em;
}
.project-image {
  border-radius: 0.5em;
}
/*  */
.view-button,
.see-more-button {
  background: #d9d9d9;
  border-radius: 12px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  line-height: 2rem;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  background-color: var(--theme-color);
  color: var(--main-background-color);
}
.see-more-button.heading {
  margin: 0;
}
.see-more-button:hover,
.see-more-button:focus {
  border: 1px solid var(--theme-color);
  background: var(--main-background-color);
}
.view-button:hover,
.view-button:focus {
  color: #d9d9d9;
  background: var(--text-color);
}
.project {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/*  collaborate page */

.collaborate-page-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
}
.x-icon {
  font-size: 3rem;
  padding-top: 5px;
  cursor: pointer;
}
.x-icon:hover,
.x-icon:focus {
  color: var(--text-color);
}
.question {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 0.5em;
}

.answer-input {
  text-align: start;
  outline: none;
  border: none;
  background: var(--main-background-color);
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: 0.5em 1em;
  border-bottom: 1px solid #b8b8b8;
  width: 80%;
  height: 42px;
  font-family: "Lato";
  font-style: normal;
}
.answer-input::placeholder {
  color: #b8b8b8;
  font-family: "Lato";
  font-style: normal;
}
.massage-button {
  padding: 24px 0px;
  background: var(--theme-color);
  border-radius: 80px;
  color: var(--main-background-color);
  outline: none;
  border: none;
  width: 60%;
  margin-bottom: 1em;
}
.massage-button:hover,
.massage-button:focus {
  background-color: var(--text-color);
  color: var(--main-background-color);
  border: 1px solid var(--text-color);
}
@media (max-width: 576px) {
  .heading-contact-page {
  font-size: 2rem;
  line-height: 3rem;}
  .sidebar-link {
  font-size: 1rem;
  line-height: 1rem;}
  .company {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .answer-input::placeholder {
    font-size: 0.7rem;
  }
  .massage-button {
    font-size: 1rem;
  }
  .question {
    font-size: 1rem;
    line-height: 2rem;
  }
  .collaborate-page-heading {
    margin-top: 1em;
    font-size: 2rem;
    line-height: 2rem;
  }
  .x-icon {
    font-size: 2rem;
    margin-top: 1em;
  }
  .text-work-page {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .project-description {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .skill-name {
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .view-button,
  .see-more-button {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .heading-honors-page,
  .heading-work-page {
    font-size: 3rem;
  }
  .open-collaborations {
    font-size: 0.8rem;
    text-align: right;
    padding-left: 2.5em;
    line-height: 1em;
  }
  .job {
    text-align: center;
  }
  .name {
    font-size: 6rem;
  }
  .circle-button-link {
    top: 35%;
    left: 38%;
  }
  .line-border {
    left: 75%;
  }
}
